@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h-center {
    text-align: center;
    height: 100vh;
    background-image: url("https://images7.alphacoders.com/370/370162.jpg");
    background-size: cover;
}

.main-heading {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    font-family: "Bree serif";
}

.tourism-card {
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
    margin: 8px;
}

.pera {
    color: #5e0f20;
    font-size: 28px;
    font-family: "Bree serif";
}

.h-button {
    background-color: orange;
    border: 20px;
    font-weight: bold;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
}

.favorite-place-bg-continer {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    height: 160vh;
    background-size: cover;
}

.favorite-place-heading {
    color: white;
    font-size: 28px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}

.favorite-place-card {
    background-color: white;
    border-radius: 9px;
    padding: 15px;
    margin: 9px;
}

.favorite-place-card-heading {
    font-family: "Roboto";
    color: #0f0e46;
    font-size: 24px;
    font-weight: bold;

}

.favorite-place-card-pera {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 18px;
    text-align: left;
    width: 250px;
}

.card-image {
    width: 80px;
    height: 100px;
    border-radius: 5px;
}

.detailed-view-background-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: 150vh;
    background-size: cover;
}

.detailed-view {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.detailed-view-card {
    background-color: white;
    margin: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.detailed-view-text-card {
    padding: 20px;
}

.text-card-heading {
    color: gray;
    font-weight: bold;
    font-family: "Roboto";
}

.text-card-pera {
    color: black;
    font-size: 18px;
    font-family: "Roboto";
}